/* CSS Document */

body{
font-size:12px;
}
table{
font-size:12px;
}
form {
	FONT-SIZE: 12px;
}
A.a:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.a:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.a:hover {
	COLOR: #cc3300;
	TEXT-DECORATION:underline;

}
A.a:active {
	color: #cc3300;
	text-decoration: underline;
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc3300;
	TEXT-DECORATION:underline;

}
A:active {
	color: #cc3300;
	text-decoration: underline;
}
.wz{
	font-family: "ו";
	font-size: 12px;
	letter-spacing: 1px;
    line-height:20px;
}