
/* common */
* {
	padding:0px;
	margin:0px;
	font-family:"Microsoft YaHei";
}
a {text-decoration: none;}
.div-clear {
    clear:both;height:0;width:0;
}
textarea, input {
	border:1px solid #ccc;
	margin:1px;
	padding:1px;
}
li {
	list-style:none;
	display:block;
	line-height: 1.35em;
}
#body {
    background-color:#f5f4f2;
}
#container {
    width:1024px;
    margin:0px auto;
}

.center {
	text-align:center;
	margin:0 auto;
}

#header {
    width:100%;
    height:120px;
    background-color:#f8f8f8;
    border:0px #000 solid;
	color:#922;
}

#header .login_status {
	float:left;
	margin:10px;
}
#header #menu {
	float:right;
	margin:10px;
    border:0px #000 solid;
}
#menu ul {float:right;}
#menu li {float:left;}
#menu a
{
    display:block;
    color:#fff;
    background-color:#bbb;
    text-align:center;
    padding:0px 24px 0px 24px;
    text-decoration:none;
    text-transform:uppercase;
}
#menu a:hover
{
    background-color:#eee;
}

#search-box {
	width: 326px;
	height: 29px;
	margin: 0 auto;
	padding:20px;
}

.input-box {
	float: left;
	width: 220px;
	height: 29px;
	line-height: 29px;
	padding-left: 11px;
	text-align: left;
	font-size: 14px
}

.button {
	float: right;
	border: 0px;
	/*text-indent: -999px;*/
	width: 70px;
	height: 29px;
	cursor: pointer
}

#main {
    margin-top:10px;
}
#main li {margin:0px; }

.content {
	float:left;
    width:80%;
    border:0px #F00 solid;
	background-color:#fff;
}
.content .navi {
	float:left;
	width:15%;	
	padding-left: 20px;
	padding-top: 20px;
	color:#922;
	background-color:#fff;
}

.content .list-all {
	float:left;
	margin: 10px;
	padding:10px;
}
#table-userinfo {
	cellspacing:0px;
}
#list-all ul {
    padding-top:20px;
	border:0px #c0c0c0 solid;
}
.item {
    padding-top:10px;
    padding-bottom:10px;
	border-bottom:0px #c0c0c0 solid;
    
}
.item :hover {
    background-color:#eee;
}

.item .pic {
    float:left;
    width:150px;
}
.item-img {
	 width:150px;
	 height:120px;
}
.txt {
    float:left;
    margin-left:10px;
    width:400px;
}

.td_class_1 {
    background-color:#F0F0F0;
}
.td_class_2 {
    background-color:#F0F8FF;
}

.a-skip {
    padding:4px;
}
#main .sidebar{
	width:20%;
    border:0px #F00 solid;
}
#footer {
	text-align:center;
	line-height:1.5;
	padding-top:40px;
    height:50px;
}

.sidebar {
 	float:left;
    width:200px;
    border:0px #333 solid;
    padding-bottom:20px;
}
.sidebar #new,#gouwuche {
	background-color:#fff;
	margin:0px 0px 10px 10px;
	padding:10px;
	border:0px #333 solid;
}
.sidebar #gouwuche {
	height:100px;
}
