/* common */
* {
	padding:0px;
	margin:0px;
	font-family:"Microsoft YaHei";
}
a {text-decoration: none;}
.div-clear {
    clear:both;height:0;width:0;
}
textarea, input {
	border:1px solid #ccc;
	margin:1px;
	padding:1px;
}
li {
	list-style:none;
	display:block;
	line-height: 1.35em;
}
#body {
    background-color:#f5f4f2;
}
#container {
    width:1024px;
    margin:0px auto;
}
.center {
	text-align:center;
	margin:0 auto;
}

#header {
    width:100%;
    height:80px;
    background-color:#f8f8f8;
    border:0px #000 solid;
}
.login_status {
	float:left;
}

#menu ul {float:right;}
#menu li {float:left;}
#menu a
{
    display:block;
    color:#fff;
    background-color:#bbb;
    text-align:center;
    padding:0px 24px 0px 24px;
    text-decoration:none;
    text-transform:uppercase;
}
#menu a:hover
{
    background-color:#eee;
}
#main li {margin:0px; }

#main .content {
    width:70%;
    margin-top:10px;
    background-color:#fff;
    border:0px #F00 solid;
}
#main .content #list-all {
	margin: 10px;
}
#table-userinfo {
	cellspacing:0px;
}
#list-all ul {
    padding-top:20px;
	border:0px #c0c0c0 solid;
}
.item {
    padding-top:10px;
    padding-bottom:10px;
	border-bottom:0px #c0c0c0 solid;
    
}
.item :hover {
    background-color:#eee;
}

.item .pic {
    float:left;
    width:150px;
}
.item-img {
	 width:150px;
	 height:120px;
}
.txt {
    float:left;
    margin-left:10px;
    width:400px;
}

.td_class_1 {
    background-color:#F0F0F0;
}
.td_class_2 {
    background-color:#F0F8FF;
}

.a-skip {
    padding:4px;
}
#main .sidebar{
	width:30%;
    border:0px #F00 solid;
}
#footer {
	text-align:center;
	line-height:1.5;
	margin:10px 0;
	padding-top:40px;
    height:50px;
}

.content {
    float:left;
    width:700px;
    height:100%;
    margin:0px auto;
}
.sidebar {
 	float:left;
    width:200px;
    border:0px #333 solid;
    padding-bottom:20px;
}
.sidebar #new,#gwc {
	background-color:#fff;
	margin:10px 0px 10px 10px;
	padding:10px;
	border:0px #333 solid;
}
.sidebar #gwc {
	height:100px;
}
