/* common */
* {
	padding:0px;
	margin:0px;
	font-family:"Microsoft YaHei";
}
a {text-decoration: none;}
.div-clear {
    clear:both;height:0;width:0;
}
textarea, input {
	border:1px solid #ccc;
	margin:1px;
	padding:1px;
}
li {
	list-style:none;
	display:block;
	line-height: 1.35em;
}
#body {
    background-color:#f5f5f5;
}
#container {
    width:1024px;
    margin:0px auto;
}
.center {
	text-align:center;
	margin:0 auto;
}
#header {
    width:100%;
    height:180px;
    margin-top:10px;
    border:0px #000 solid;
    background:url(../images/logo.gif) no-repeat;
}
#header #title {
	border:0px #000 solid;
	text-align:center;
}
.login_status {
	float:left;
	margin-top:80px;
}
.td_class_1 {
    background-color:#F0F0F0;
}
.td_class_2 {
    background-color:#F0F8FF;
}

#menu ul {float:right; margin:1px;}
#menu li {float:left;}
#menu a
{
    display:block;
    width:120px;
    color:#FFFFFF;
    background-color:#bebebe;
    text-align:center;
    padding:2px;
    text-decoration:none;
    text-transform:uppercase;
}
#menu a:hover
{
    background-color:#c00;
}
#main li {margin:0px; }

#main {
    width:100%;
    border:0px #F00 solid;
}
#table-userinfo {
	cellspacing:1px;
}
#footer {
	text-align:center;
	line-height:1.5;
	margin:10px 0;
	padding-top:40px;
    height:50px;
}
.cat{
    float:left;
    width:100px;
    height:1px;
    border:0px #0f0 solid;
}
.content {
    float:left;
    width:700px;
    height:100%;
    margin:0px auto;
    /*background:#f00;*/
}
.sidebar {
 	float:left;
    width:200px;
    border:0px #333 solid;
    padding-bottom:20px;
}
#shop-all-list ul {
    padding-top:20px;
	border:1px #c0c0c0 solid;
}
.item {
    padding-top:10px;
    padding-bottom:10px;
	border-bottom:1px #c0c0c0 solid;
    
}
.item .pic {
    float:left;
    padding-left:10px;
    width:150px;
}
.item-img {
	 width:150px;
	 height:120px;
}
.txt {
    float:left;
    margin-left:10px;
    width:400px;
}

.new {
 	float:right;
 	padding:5px;
	border:1px #c0c0c0 solid;
}
.new #title {
	margin:10px;
}

.skip {
    padding:4px;
}