<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>onlineOrder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<servlet>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>misc.UploadHandleServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>upload.UploadServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>getProgressServlet</servlet-name>
    <servlet-class>upload.getProgressServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>ClientApi</servlet-name>
    <servlet-class>api.ClientApi</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/servlet/UploadHandleServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>getProgressServlet</servlet-name>
    <url-pattern>/servlet/getProgressServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ClientApi</servlet-name>
    <url-pattern>/servlet/ClientApi</url-pattern>
</servlet-mapping>

</web-app>